docker {
    enabled = true
    temp = "auto"
    sudo = true
}

process {
    withLabel: posix {
        container = "darcyabjones/base:fungraph-${manifest.version}"
    }
    withLabel: download {
        container = "darcyabjones/base:fungraph-${manifest.version}"
    }
    withLabel: minimap2 {
        container = "darcyabjones/base:minimap2-${manifest.version}"
    }
    withLabel: seqwish {
        container = "darcyabjones/base:seqwish-${manifest.version}"
    }
    withLabel: fpa {
        container = "darcyabjones/base:fpa-${manifest.version}"
    }
}
