singularity {
    enabled = true
}

process {
    withLabel: posix {
        container = "containers/singularity/base.sif"
    }
    withLabel: download {
        container = "containers/singularity/posix.sif"
    }
    withLabel: minimap2 {
        container = "containers/singularity/minimap2.sif"
    }
    withLabel: seqwish {
        container = "containers/singularity/seqwish.sif"
    }
    withLabel: fpa {
        container = "containers/singularity/fpa.sif"
    }
}

