singularity {
    enabled = true
}

process {
    withLabel: posix {
        container = "containers/singularity/base.sif"
    }
    withLabel: python3 {
        container = "containers/singularity/python3.sif"
    }
    withLabel: download {
        container = "containers/singularity/base.sif"
    }
    withLabel: minimap2 {
        container = "containers/singularity/minimap2.sif"
    }
    withLabel: minigraph {
        container = "containers/singularity/minigraph.sif"
    }
    withLabel: seqwish {
        container = "containers/singularity/seqwish.sif"
    }
    withLabel: fpa {
        container = "containers/singularity/fpa.sif"
    }
    withLabel: odgi {
        container = "containers/singularity/odgi.sif"
    }
    withLabel: vg {
        container = "containers/singularity/vg.sif"
    }
    withLabel: gfatools {
        container = "containers/singularity/gfatools.sif"
    }
}

